<footer>
  <div class="py-12">
    <p
      class="text-xs text-base-500 text-balance text-center"
      x-data="{ year: new Date().getFullYear() }"
    >
      © <span x-text="year"></span> Shower Games. All rights reserved.
    </p>
    <p class="mt-2 text-xs text-center text-base-500">
      <a
        href="https://www.instagram.com/showergamesco/"
        class="hover:text-pink-600"
        target="_blank"
        >Instagram</a
      > |
      <a
        href="https://www.pinterest.com/babyshowergamesco/"
        class="hover:text-pink-600"
        target="_blank"
        >Pinterest</a
      >
    </p>
  </div>
</footer>
